<h2>New Trip</h2>
<%= link_to 'Your Trips', trips_path %>
<!-- This may end up being multiple forms glued together due to Rails conventions -->
<div class="trip-form-container">
  <!-- Would this form be better done using JS and jQuery UI? -->
  <%= form_for @trip do |f| %>
  <% if @trip.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@trip.errors.count, "error") %>
      prohibited this trip from being saved
    </h2>
    <ul>
      <% @trip.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <p class="trip-destination">
   <%= f.label "I'm going to" %>
   <%= f.text_field :destination_city, list: "cities", placeholder: 'destination city' %>
    <%= f.text_field :destination_country, placeholder: "destination country", list: "destination_countries" %>
 </p>
 <!-- drop down starting with months, can choose days or years -->
 <p class="trip-duration" style="display: none">
   <%= f.text_field :duration, placeholder: 'for X' %>
   <%= f.text_field :timespan, placeholder: 'days/months/years', list: "timespans" %>
   <span class="dates" style="display: none">
   <%= f.label "from"  %>
   <%= date_select :trip, :start_date %>
   <%= f.label "until"  %>
   <%= date_select :trip, :end_date %>
   </span>
 </p>
 <!-- this is going to be a drop down, see select/options in form for guide -->

 <p class="trip-airport" style="display: none">
  <%= f.label "Departing from" %>
  <%= f.text_field :origin_city, list: "airport-cities", placeholder: "Airport" %>
</p>

<p class="trip-passport" style="display: none">
  <%= f.label 'With a passport from' %>
  <%= f.text_field :origin_country, placeholder: "origin country", placeholder: "origin country", list: "origin_countries" %>
</p>

<!-- Implement these later -->
  <!-- <p>
     f.text_field passport, placeholder: "passport from country"
  </p>


  <p>
     f.label visa <br>
     f.text_field visa
   </p> -->
   <p class="trip-submit" style="display: none">
   <%= f.submit %>
   </p>
 <% end %>
</div>

<%= render partial: 'trip_info', locals: { trip: @trip } %>