<h1>Trips#new</h1>
<!-- This may end up being multiple forms glued together due to Rails conventions -->
<div class="new-trip-form"></div>
<%= form_for @trip do |f| %>
<% if @trip.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@trip.errors.count, "error") %>
    prohibited this trip from being saved
  </h2>
  <ul>
    <% @trip.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p>
  <%= f.label :destination_country %> <br>
  <%= f.text_field :destination_country %>
</p>
<p>
  <%= f.label :destination_city %> <br>
  <%= f.text_field :destination_city %>
</p>
<p>
  <!-- drop down starting with months, can choose days or years -->
  <%= f.label :start_date %> <br>
  <%= f.text_field :start_date %>
</p>
<p>
  <%= f.label :end_date %> <br>
  <%= f.text_field :end_date %>
  <!-- this is going to be a drop down, see select/options in form for guide -->
  <!-- f.label duration -->
  <!-- f.text_field duration -->
  <!-- add/swap in duration once figure out how to deal with interval data type -->
</p>
<p>
  <%= f.label :origin_country %> <br>
  <%= f.text_field :origin_country %>
</p>
<p>
  <%= f.label :origin_city %> <br>
  <%= f.text_field :origin_city %>
</p>

<!-- Implement these later -->
<!-- <p>
   f.label passport  <br>
   f.text_field passport
</p>


<p>
   f.label visa <br>
   f.text_field visa
 </p> -->

 <%= f.submit %>
</p>
<% end %>
