<%= link_to new_trip_path do %>
    <button>Make a new trip</button>
  <% end %>
<div class="col-xs-5">
  <h2><%= @trip.origin_city %>, <%= @trip.origin_country %> to <%= @trip.destination_city %>, <%= @trip.destination_country %></h2>
  <p>For <%= @trip.duration %> <%= @trip.timespan %></p>
  <p>Leaving: <%= @trip.start_date %></p>
  <p>Returning: <%= @trip.end_date %></p>
  <p>From: <%= @trip.origin_city %>, <%= @trip.origin_country %></p>
  <p>To: <%= @trip.destination_city %>, <%= @trip.destination_country %></p>

  <%= render partial: 'trip_links', locals: { trip: @trip } %>
</div>

<%= render partial: 'trip_info', locals: { trip: @trip } %>
