<!DOCTYPE html>
<html>
<head>
  <title>Planet Hopper</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to users_path do %>
  <h1>Planet Hopper</h1>
  <% end %>

  <nav class="login">
    <% if current_user %>
    Signed in as <%= current_user.email %> | <%= link_to "Logout", '/logout' %>
    <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
